using './main.bicep'

param environmentName = 'dev'
param location = 'eastus'
param aksNodeCount = 1
param aksNodeVmSize = 'Standard_B2s'
param storageAccountName = 'youruniquestorename'
param staticWebAppName = 'swa-options-pipeline-dev'
param swaLocation = 'eastus2'
